main {
	background-color: cornsilk;
	padding-top: 40px;
	padding-bottom: 40px;
}

#tripDetails {
	font-family: $font-text;
	width: 100%;
	height: 100%;
}
#detailsPane {
	font-family: $font-text;
	width: 100%;
	height: 80%;
}

.pix_image {
	padding: 1rem;
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 25px;
}
.inputOverrides {
	padding: 1rem;
	margin: 0.5rem;
	border: 1rem;
	width: 300px;
}
// .button {
// 	height: 40px;
// 	margin-top: 20px;
// 	width: 51%;
// 	margin-bottom: 50px;
// 	background-color: $color-aqua;
// 	font-family: sans-serif;
// 	font-weight: 600;
// 	padding: 0.5rem 0;
// 	font-size: 16px;
// 	color: $color-black;
// }

.trip-heading {
	text-align: center;
	font-size: 30px;
	margin-bottom: 40px;
}

.submitButton {
	height: 40px;
	margin-top: 20px;
	width: 51%;
	margin-bottom: 50px;
	background-color: $color-aqua;
}

.pad10 {
	padding: 10px;
}
