$primary-color: #b37700;
$secondary-color: #b3fff0;
$highlight-color: #ffff4d;
$tertiary-color: #faf0d1;
$linear-color-one: #ffccff;
$linear-color-two: #ffffe6;
$linear-color-three: #80ffff;
$linear-color-four: #ffe6ff;
$color-black: #000;
$color-dark: #2f3d49;
$color-light: #fff;
$color-aqua: #7fffd4;

$font-headings: 'Georgia';
$font-text: 'Georgia';
$font-h1: 2vw;
$font-h2: 4vw;
$font-h3: 2rem;
$text: 1.2rem;
